.footer {
    padding: 4.5rem 0;

    & .container {
        display: grid;
        grid-template-columns: 1.3fr 1fr 3fr;
        grid-template-areas: 'f-nav f-address f-copyright';
        column-gap: 2rem;

        @media only screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:    'f-nav f-address'
                                    'f-copyright f-copyright';
            row-gap: 2rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
            grid-template-areas:    'f-nav'
                                    'f-address'
                                    'f-copyright';
            row-gap: 2rem;
        }
    }

    &-nav {
        grid-area: f-nav;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $breakpoint-sm) {
            text-align: center;
            align-items: center;
            margin-bottom: 2rem;
        }

        &__logo {

            @media only screen and (max-width: $breakpoint-sm) {
                height: 2.4rem;
                width: auto;
                margin-bottom: 3rem;
            }
        }

        &__link {
            display: inline-flex;
            font-size: 1.8rem;
            font-weight: 600;
            text-decoration: none;
            color: var(--color-white);
            transition: color 0.2s ease;
            margin-right: 3rem;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--color-light-coral);
            }
        }
    }

    &-address {
        grid-area: f-address;

        @media only screen and (max-width: $breakpoint-lg) {
            text-align: right;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            text-align: center;
        }

        &__item {
            display: block;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.5rem;
            color: var(--color-white);
            opacity: 0.6;
        }
    }

    &-copyright {
        grid-area: f-copyright;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        @media only screen and (max-width: $breakpoint-lg) {
            flex-direction: row;
            margin-top: 1.5rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            flex-direction: column;
            align-items: center;
        }

        &__socials {
            display: grid;
            grid-template-columns: repeat(3, 2.4rem);
            align-items: center;
            column-gap: 1.5rem;

            @media only screen and (max-width: $breakpoint-sm) {
                margin-bottom: 1.5rem;
            }
        }

        & span {
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: var(--color-white);
            opacity: 0.6;
        }
    }
}