.header {
    padding: 7.4rem 0 0 0;
    background-repeat: no-repeat;
    background-image: url(./../images/bg-pattern-home-1.svg), url(./../images/bg-pattern-home-2.svg);
    background-position-y: 53%, bottom;
    background-position-x: -10rem, 58vw;

    @media only screen and (max-width: $breakpoint-lg) {
        padding: 6rem 0 0 0;
        background-image: url(./../images/bg-pattern-home-2.svg);
        background-position-y:  bottom;
        background-position-x: center;
    }

    @media only screen and (max-width: $breakpoint-sm) {
        padding: 3rem 0 0 0;
    }

    &-about {
        background-repeat: no-repeat;
        background-image: url(./../images/bg-pattern-about-1-mobile-nav-1.svg);
        background-position-y: 100%;
        background-position-x: 107.5%;

        @media only screen and (max-width: $breakpoint-lg) {
            background-position-y: 100%;
            background-position-x: 113%;
        }

        @media only screen and (max-width: $breakpoint-md) {
            background-position-y: 100%;
            background-position-x: 118%;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            background-position-y: 38rem;
            background-position-x: 133%;
        }
    }

    &-contact {
        background-repeat: no-repeat;
        background-image: url(./../images/bg-pattern-about-2-contact-1.svg), url(./../images/bg-pattern-contact-2.svg);
        background-position-y: 25rem, 100%;
        background-position-x: -10rem, 108%;

        @media only screen and (max-width: $breakpoint-xl) {
            background-image: url(./../images/bg-pattern-about-2-contact-1.svg), url(./../images/bg-pattern-contact-2.svg);
            background-position-y: 15rem, 100%;
            background-position-x: -10rem, 120%;
        }

        @media only screen and (max-width: $breakpoint-lg) {
            background-image: url(./../images/bg-pattern-about-2-contact-1.svg), url(./../images/bg-pattern-contact-2.svg);
            background-position-y: 25rem, 100%;
            background-position-x: -10rem, 120%;
        }

        @media only screen and (max-width: $breakpoint-md) {
            background-image:  url(./../images/bg-pattern-contact-2.svg);
            background-position-y:  110%;
            background-position-x:  150%;
        }
    }
}

.home-hero {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    column-gap: 2rem;
    padding-bottom: 20rem;

    @media only screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr;
        justify-items: center;

        & > .heading-one-l {
            text-align: center;
            max-width: 35rem;
        }
    }

    & > .body-copy-l {
        position: relative;
        max-width: 44.5rem;
        justify-self: end;
        padding-top: 8.3rem;

        @media only screen and (max-width: $breakpoint-lg) {
            max-width: 46rem;
            justify-self: auto;
            padding-top: 1.5rem;
            text-align: center;
        }

        &::before {
            content: '';
            position: absolute;
            height: 0.4rem;
            width: 5rem;
            top: 0;
            left: 0;
            background-color: var(--color-rapture-blue);
        
            @media only screen and (max-width: $breakpoint-lg) {
                display: none;
            }
        }
    }
}

.about {

    &-hero {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        padding-bottom: 15rem;

        @media only screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        & > .body-copy-l {
            position: relative;
            justify-self: end;
            padding-top: 4.5rem;
    
            @media only screen and (max-width: $breakpoint-lg) {
                max-width: 46rem;
                justify-self: auto;
                padding-top: 1.5rem;
                text-align: center;
            }
    
            &::before {
                content: '';
                position: absolute;
                height: 0.4rem;
                width: 5rem;
                top: 0;
                left: 0;
                background-color: var(--color-light-coral);
            
                @media only screen and (max-width: $breakpoint-lg) {
                    display: none;
                }
            }
        }
    }

    
}