.nav {
    display: flex;
    align-items: center;
    margin-bottom: 12rem;

    &-logo {
        margin-right: 7.5rem;
        height: 4rem;
        width: auto;
    }

    &-link {
        color: var(--color-white);
        font-size: 1.8rem;
        line-height: 2.8rem;
        font-weight: 600;
        text-decoration: none;
        margin-right: 4rem;
    }

    & > *:last-child {
        margin-left: auto;
    }
}