*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-midnight-green);
    color: var(--color-white);
    min-height: 100vh;
    min-width: 32rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    max-width: 95%;
    min-width: 32rem;
    width: 110rem;

    @media only screen and (max-width: $breakpoint-sm) {
        max-width: 90%;
    }
}

.container-sm {
    margin: 0 auto;
    max-width: 95%;
    min-width: 32rem;
    width: 92rem;

    @media only screen and (max-width: $breakpoint-sm) {
        max-width: 90%;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-section {
    padding: 14rem 0;

    @media only screen and (max-width: $breakpoint-lg) {
        padding: 10rem 0;
    }    
}

.bg-sacramento {
    background-color: var(--color-sacramento);
}

.bg-deep-jungle {
    background-color: var(--color-deep-jungle);
}

.c-light-coral {
    color: var(--color-light-coral);
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    @media only screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr;
    }
}

.three-col-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 3rem;
}