.heading-one-l {
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 700;

    @media only screen and (max-width: $breakpoint-lg) {
        font-size: 6.4rem;
        line-height: 5.6rem
    }
}

.heading-one-s {
    font-size: 6.4rem;
    line-height: 5.6rem;
    font-weight: 700;
}

.heading-two {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 700;

    @media only screen and (max-width: $breakpoint-lg) {
        font-size: 3.2rem;
        line-height: 3.2rem
    }
}

.heading-three {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
}

.body-copy-l {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 600;

    @media only screen and (max-width: $breakpoint-lg) {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

.body-copy-s {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
}